<div class="row">
	<div class="span6 offset3">
		<ul class="social-networks">
			<li><a href="https://www.linkedin.com/in/nitin-saini-450a20121"><i
					class="icon-circled icon-bgdark icon-linkedin icon-2x"></i></a></li>
			<li><a href="https://www.facebook.com/nitin.saini.549"><i
					class="icon-circled icon-bgdark icon-facebook icon-2x"></i></a></li>
			<li><a href="https://twitter.com/SainiNitin"><i
					class="icon-circled icon-bgdark icon-twitter icon-2x"></i></a></li>
			<li><a href="https://www.instagram.com/nitinsaini117/"><i
					class="icon-circled icon-bgdark icon-instagram icon-2x"></i></a></li>
		</ul>
	</div>
</div>